/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  position: relative
}


#user-favorites, #user-own-stories {
  list-style: none;
  padding-left: 10px;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-container {
  margin-left: 2em;
}

.story-author {
  /* margin-left: 2em; */
  color: orange;
}

.story-user {
  display: block;
  color: green
}

.trash-can {
  margin-left: 2em;
  position: absolute;
  left: -3%;
  top: 40%
}

i:hover {
  color: red;
}